---
layout: default
title: Research
---

<h1>Papers and Preprints</h1>
<div class="all-posts">
{% for post in site.posts %}
    {% if post.categories contains "paper" %}
	<div class="post-preview">
        {% if post.coauthors %}(with {% for coa in post.coauthors %}{% if coa.noweb != true %}<a href="{{coa.web}}">{%endif%}{{coa.name}}{% if coa.noweb != true %}</a>{%endif%}{% unless forloop.last %}, {% endunless %}{% endfor %}){% endif %}
        <b><a href="{{site.url}}{{post.url}}">{{post.title}}</a></b> ({{post.date | date: '%Y'}}) &bull;
        {% if post.arXiv %}<a href="https://arxiv.org/abs/{{post.arXiv | split: ' ' | first}}" target="_blank">arXiv:{{post.arXiv}}</a>{% endif %}		
        {% unless post.no-abstract %}<details>
          <summary>
            Read More
          </summary>
          <br />
            {{ post.content | markdownify }}
            {% if post.image != null %} {% if post.image-address != null %}<a href="{{ post.image-address | replace: '__STORAGE_URL__', site.storage_url }}">{% else %}<a href="{{site.url }}{{ post.url }}">{% endif %}<img src="{{ post.image | replace: '__STORAGE_URL__', site.storage_url }}" alt="{{ post.image-alt }}" title="{{ post.image-alt }}" style="max-width:100%;max-height:500px;height:auto;width:auto;" class="mb-3 mt-3"></a>
            {% endif %}
        </details>
	{% endunless %}
	</div>
    {% endif %}
{% endfor %}		
</div>
<h1>Presentations</h1>	
<div class="all-posts">
{% for post in site.posts %}
    {% if post.categories contains "presentation" %}
        <b><a href="{{site.url}}{{post.url}}">{{post.title}}</a></b> ({{post.date | date: '%Y'}}) &bull; <a href="{{ post.talk-url}}" target="_blank">PDF</a>
        {% unless post.no-abstract %}<details>
          <summary>
            Read More
          </summary>
          <br />
            {{ post.excerpt | markdownify }}
            {% if post.image != null %} {% if post.image-address != null %}<a href="{{ post.image-address }}">{% else %}<a href="{{ site.url }}{{ post.url }}">{% endif %}<img src="{{ post.image }}" alt="{{ post.image-alt }}" title="{{ post.image-alt }}" style="max-width:100%;max-height:500px;height:auto;width:auto;"></a>
            {% endif %}
     </details>{% endunless %}
    {% endif %}
{% endfor %}		
</div>
