---
layout: default
title: Research
use_math: true
---
<h1>Preprints</h1>
<div class="all-posts">
{% for post in site.posts %}
    {% if post.categories contains "preprint" %}
	<div class="post-preview">
        {% if post.coauthors %}(with {% for coa in post.coauthors %}{% if coa.noweb != true %}<a href="{{coa.web}}">{%endif%}{{coa.name}}{% if coa.noweb != true %}</a>{%endif%}{% unless forloop.last %}, {% endunless %}{% endfor %}){% endif %}
        <b><a href="{{site.url}}{{post.url}}">{{post.title}}</a></b> ({{post.date | date: '%Y'}}) &bull;
        {% if post.arXiv %}<a href="https://arxiv.org/abs/{{post.arXiv | split: ' ' | first}}" target="_blank">arXiv:{{post.arXiv}}</a>{% endif %}		
        {% unless post.no-abstract %}<details>
          <summary>
            Read More
          </summary>
          <br />
            {{ post.content | markdownify }}
            {% if post.image != null %} {% if post.image-address != null %}<a href="{{ post.image-address }}">{% else %}<a href="{{site.url }}{{ post.url }}">{% endif %}<img src="{{ post.image }}" alt="{{ post.image-alt }}" title="{{ post.image-alt }}" style="max-width:100%;max-height:500px;height:auto;width:auto;" class="mb-3 mt-3"></a>
            {% endif %}
        </details>
	{% endunless %}
	</div>
    {% endif %}
{% endfor %}		
</div>

<h1>Papers</h1>
<div class="all-posts">
{% for post in site.posts %}
    {% if post.categories contains "paper" %}
	<div class="post-preview">
        {% if post.coauthors %}(with {% for coa in post.coauthors %}{% if coa.noweb != true %}<a href="{{coa.web}}">{%endif%}{{coa.name}}{% if coa.noweb != true %}</a>{%endif%}{% unless forloop.last %}, {% endunless %}{% endfor %}){% endif %}
        <b><a href="{{site.url}}{{post.url}}">{{post.title}}</a></b>. {{post.journal}} ({{post.date | date: '%Y'}}) 
        {% if post.arXiv %} &bull; <a href="https://arxiv.org/abs/{{post.arXiv | split: ' ' | first}}" target="_blank">arXiv:{{post.arXiv}}</a>{% endif %}		
        {% if post.pdf-url != null %} &bull; <a href="{{ post.pdf-url }}" target="_blank">PDF</a>{% endif %}
        {% unless post.no-abstract %}<details>
          <summary>
            Read More
          </summary>
          <br />
            {{ post.content | markdownify }}
            {% if post.image != null %} {% if post.image-address != null %}<a href="{{ post.image-address }}">{% else %}<a href="{{site.url }}{{ post.url }}">{% endif %}<img src="{{ post.image }}" alt="{{ post.image-alt }}" title="{{ post.image-alt }}" style="max-width:100%;max-height:500px;height:auto;width:auto;" class="mb-3 mt-3"></a>
            {% endif %}
        </details>
	{% endunless %}
	</div>
    {% endif %}
{% endfor %}		
</div>

<h1>Conference Proceedings</h1>
<div class="all-posts">
{% for post in site.posts %}
    {% if post.categories contains "proceeding" %}
	<div class="post-preview">
        {% if post.coauthors %}(with {% for coa in post.coauthors %}{% if coa.noweb != true %}<a href="{{coa.web}}">{%endif%}{{coa.name}}{% if coa.noweb != true %}</a>{%endif%}{% unless forloop.last %}, {% endunless %}{% endfor %}){% endif %}
        <b><a href="{{site.url}}{{post.url}}">{{post.title}}</a></b> ({{post.date | date: '%Y'}}) &bull;
        {% if post.arXiv %}<a href="https://arxiv.org/abs/{{post.arXiv | split: ' ' | first}}" target="_blank">arXiv:{{post.arXiv}}</a>{% endif %}		
        {% unless post.no-abstract %}<details>
          <summary>
            Read More
          </summary>
          <br />
            {{ post.content | markdownify }}
            {% if post.image != null %} {% if post.image-address != null %}<a href="{{ post.image-address }}">{% else %}<a href="{{site.url }}{{ post.url }}">{% endif %}<img src="{{ post.image }}" alt="{{ post.image-alt }}" title="{{ post.image-alt }}" style="max-width:100%;max-height:500px;height:auto;width:auto;" class="mb-3 mt-3"></a>
            {% endif %}
        </details>
	{% endunless %}
	</div>
    {% endif %}
{% endfor %}		
</div>


<h1>Not for publication</h1>
<div class="all-posts">
{% for post in site.posts %}
    {% if post.categories contains "nonpublish" %}
	<div class="post-preview">
        {% if post.coauthors %}(with {% for coa in post.coauthors %}{% if coa.noweb != true %}<a href="{{coa.web}}">{%endif%}{{coa.name}}{% if coa.noweb != true %}</a>{%endif%}{% unless forloop.last %}, {% endunless %}{% endfor %}){% endif %}
        <b><a href="{{site.url}}{{post.url}}">{{post.title}}</a></b>. {{post.journal}} ({{post.date | date: '%Y'}}) 
        {% if post.arXiv %}&bull; <a href="https://arxiv.org/abs/{{post.arXiv | split: ' ' | first}}" target="_blank">arXiv:{{post.arXiv}}</a>{% endif %}		
        {% if post.pdf-url != null %} &bull; <a href="{{ post.pdf-url }}" target="_blank">PDF</a>{% endif %}
        {% unless post.no-abstract %}<details>
          <summary>
            Read More
          </summary>
          <br />
            {{ post.content | markdownify }}
            {% if post.image != null %} {% if post.image-address != null %}<a href="{{ post.image-address }}">{% else %}<a href="{{site.url }}{{ post.url }}">{% endif %}<img src="{{ post.image }}" alt="{{ post.image-alt }}" title="{{ post.image-alt }}" style="max-width:100%;max-height:500px;height:auto;width:auto;" class="mb-3 mt-3"></a>
            {% endif %}
        </details>
	{% endunless %}
	</div>
    {% endif %}
{% endfor %}		
</div>


<h1>Selected Research Presentations</h1>	
<div class="all-posts">
{% for post in site.posts %}
    {% if post.categories contains "presentation" %}
	<div class="post-preview">
        <b><a href="{{site.url}}{{post.url}}">{{post.title}}</a></b> ({{post.date | date: '%Y'}}) {% if post.pdf-url != null %} &bull; <a href="{{ post.pdf-url }}" target="_blank">PDF</a> {% endif %} {% if post.video-url != null %} &bull; <a href="{{ post.video-url }}" target="_blank">Video</a> {% endif %}
        {% unless post.no-abstract %}<details>
          <summary>
            Read More
          </summary>
          <br />
            {{ post.excerpt | markdownify }}
            {% if post.image != null %} {% if post.image-address != null %}<a href="{{ post.image-address }}">{% else %}<a href="{{ site.url }}{{ post.url }}">{% endif %}<img src="{{ post.image }}" alt="{{ post.image-alt }}" title="{{ post.image-alt }}" style="max-width:100%;max-height:500px;height:auto;width:auto;"></a>
            {% endif %}
     	</details>{% endunless %}
	</div>
    {% endif %}
{% endfor %}		
</div>

<h1>Selected Expository Presentations</h1>	
<div class="all-posts">
{% for post in site.posts %}
    {% if post.categories contains "expository-presentation" %}
	<div class="post-preview">
        <b><a href="{{site.url}}{{post.url}}">{{post.title}}</a></b> ({{post.date | date: '%Y'}}) {% if post.pdf-url != null %} &bull; <a href="{{ post.pdf-url }}" target="_blank">PDF</a> {% endif %} {% if post.video-url != null %} &bull; <a href="{{ post.video-url }}" target="_blank">Video</a> {% endif %}
        {% unless post.no-abstract %}<details>
          <summary>
            Read More
          </summary>
          <br />
            {{ post.excerpt | markdownify }}
            {% if post.image != null %} {% if post.image-address != null %}<a href="{{ post.image-address }}">{% else %}<a href="{{ site.url }}{{ post.url }}">{% endif %}<img src="{{ post.image }}" alt="{{ post.image-alt }}" title="{{ post.image-alt }}" style="max-width:100%;max-height:500px;height:auto;width:auto;"></a>
            {% endif %}
     	</details>{% endunless %}
	</div>
    {% endif %}
{% endfor %}		
</div>
