---
layout: default
title: Learning Seminar in Algebraic Combinatorics 
use_math: true
---
<h1>Talks</h1>
<div class="all-posts">
  {% for post in site.posts %}
    {% if post.categories contains "learnalco2223" %}
    <div class="post-preview">
      <span>{{post.date | date: '%Y-%M-%D'}}</span> »
      {% unless post.no-page %}<a href="{{site.url}}{{post.url}}">{% endunless %}
      {% if post.speaker != null %}
      {{post.speaker}}:
      {% endif %}
      {% if post.title != null %}
      {{post.title}}
      {% endif %}
      {% unless post.no-page %}</a>{% endunless %}
      {% unless post.no-abstract %}<details>
          <summary>
            Read More
          </summary>
          <br />
            {{ post.content | markdownify }}
          </details>
      {% endunless %}
    </div>
    {% endif %}
{% endfor %}	
</div>
