---
layout: default
title: Learning Seminar in Algebraic Combinatorics 
use_math: true
---
<h1>Learning Seminar in Algebraic Combinatorics at the University of Michigan</h1>
Topic: The Dimer Model (Fall 2022) and Schubert Calculus (Winter 2023)<br />

Meetings: Wednesdays 2:30-4pm in East Hall 4088<br />
<h1>Talks</h1>
<div class="all-posts">
  {% for post in site.posts %}
    {% if post.categories contains "learnalco2223" %}
    <div class="post-preview">
      <span>{{post.date | date: '%D'}}</span> »
      {% if post.speaker != null %}
      {{post.speaker}}: 
      {% endif %}
      {% unless post.no-page %}<a href="{{site.url}}{{post.url}}">{% endunless %}
      {% if post.title != null %}
      {{post.title}}
      {% endif %}
      {% unless post.no-page %}</a>{% endunless %}
      {% unless post.no-abstract %}<details>
          <summary>
            Abstract
          </summary>
          <br />
            {{ post.content | markdownify }}
          </details>
      {% endunless %}
    </div>
    {% endif %}
{% endfor %}	
</div>
