---
layout: default
title: Teaching
---

<h1>{{ page.title }}</h1>
<p>I believe in engaging in flexible pedagogy; that is, I am open to questioning my own pedagogical assumptions, especially when they are challenged by research. I also highly value creating an inclusive and welcoming learning environment both inside and outside the classroom.</p>
<h2>Current and Previous Teaching</h2>
<div class="all-posts">
{% for post in site.posts %}
    {% if post.categories contains "teaching" %}
	  <div class="post-preview">
		<span>{{post.semester}}</span> » {% unless post.no-page %}<a href="{{site.url}}{{post.url}}">{% endunless %}
		  {{post.title}}
		  {% unless post.no-page %}</a>{% endunless %} 
		  {% if post.syllabus != null %} 
		  &bull; (<a href="{{post.syllabus}}">Syllabus</a>) 
		  {% endif %}
		<!--<p>{{ post.excerpt | markdownify }}</p>-->
	  </div>
    {% endif %}
{% endfor %}
</div>
