---
layout: default
title: George H. Seelinger's Blog
---
	<h1>{{ page.title }}</h1>
	<ul class="posts">

	  {% for post in site.posts %}
	    <li>{% if post.image != null %} {% if post.image-address != null %}<a href="{{ post.image-address | replace: '__SITE_URL__', site.url }}">{% else %}<a href="{{site.url }}{{ post.url }}">{% endif %}<img src="{{ post.image | replace: '__SITE_URL__', site.url }}" alt="{{ post.image-alt }}" title="{{ post.image-alt }}" style="max-width:100%;max-height:300px;height:auto;width:auto;"></a>
		{% endif %}
		   <span>{{ post.date | date_to_string }}</span> » <a href="{{ post.permalink }}" title="{{ post.title }}">{{ post.title }}</a>
		<p>{{ post.excerpt }}</p>
	    </li>
	  {% endfor %}
	</ul>
