---
layout: default
---
<h1>{{ page.title }}</h1>
<div class="post">
  {% if page.image != null %}
      {% if page.image-address != null %}<a href="{{ page.image-address | replace: '__SITE_URL__', site.url }}">{% endif %}<img src="{{ page.image | replace: '__SITE_URL__', site.url }}" style="max-width:100%;height:auto;width:auto;" alt="{{page.image-alt}}" title="{{page.image-alt}}">{% if page.image-address != null %}</a>{% endif %}<br><br />
  {% endif %}
  {{ content }}
<hr />
<b>Date published:</b> {{ page.date | date: "%A, %B %-d, %Y" }}
</div>
